name: 'publish'
on:
  push:
    branches:
      - main

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix:
        include:
          - platform: 'macos-14'
            args: '--target universal-apple-darwin'
          - platform: 'ubuntu-latest'
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10.24.0
          run_install: true

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: |
            ./src-tauri -> target
            ./rust/core -> target
      
      - name: Install MSVC dev tools (windows only)
        uses: TheMrMilchmann/setup-msvc-dev@v3
        if: startsWith(matrix.platform, 'windows')
        with:
          arch: x64

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        if: startsWith(matrix.platform, 'ubuntu')
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: install dependencies (ubuntu only)
        if: startsWith(matrix.platform, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf librust-alsa-sys-dev xdg-utils
      
      - name: Install CUDA
        uses: Jimver/cuda-toolkit@master
        id: cuda-toolkit
        if: "!startsWith(matrix.platform, 'macos')"
        with:
          cuda: '13.0.2'
          linux-local-args: '["--toolkit"]'
          log-file-suffix: '${{matrix.os}}.txt'

      - name: Install rust target (macos only)
        if: startsWith(matrix.platform, 'macos')
        run: rustup target add x86_64-apple-darwin

      - name: Set short SHA
        id: short-sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Set version id
        id: tauri-version
        run: echo "VERSION=$(cat ./src-tauri/tauri.conf.json | grep version | cut -d\" -f 4)" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Var check
        run: echo "SHORT_SHA=${{ steps.short-sha.outputs.SHORT_SHA }}, VERSION=${{ steps.tauri-version.outputs.VERSION }}"
        shell: bash
      
      - name: Read SUMRY file
        id: sumry
        run: |
          echo 'FILE<<EOF' >> $GITHUB_OUTPUT
          echo 'https://github.com/synthlabs/scrybe/releases/tag/app-${{ steps.short-sha.outputs.SHORT_SHA }}' >> $GITHUB_OUTPUT
          echo '' >> $GITHUB_OUTPUT
          cat SUMRY.md | tail -n +3 >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
          CMAKE_OSX_DEPLOYMENT_TARGET: 13.3
        with:
          tagName: app-${{ steps.tauri-version.outputs.VERSION }}-${{ steps.short-sha.outputs.SHORT_SHA }}
          releaseName: 'Scrybe v${{ steps.tauri-version.outputs.VERSION }}-${{ steps.short-sha.outputs.SHORT_SHA }}'
          releaseBody: |
            ${{ steps.sumry.outputs.FILE }}
          includeUpdaterJson: true
          releaseDraft: false
          prerelease: false
          args: ${{ matrix.args }}
