name: 'test-on-push'
on:
  push:
    branches-ignore:
      - main

jobs:
  test-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10.24.0
          run_install: true

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: |
            ./src-tauri -> target
            ./rust/core -> target
      
      - name: Install MSVC dev tools (windows only)
        uses: TheMrMilchmann/setup-msvc-dev@v3
        if: startsWith(matrix.platform, 'windows')
        with:
          arch: x64
      
      - name: Install CUDA (windows only)
        uses: Jimver/cuda-toolkit@master
        if: startsWith(matrix.platform, 'windows')
        id: cuda-toolkit
        with:
          log-file-suffix: '${{matrix.os}}.txt'

      - name: install dependencies (ubuntu only)
        if: startsWith(matrix.platform, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf librust-alsa-sys-dev

      - name: Set short SHA
        id: short-sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Set version id
        id: tauri-version
        run: echo "VERSION=$(cat ./src-tauri/tauri.conf.json | grep version | cut -d\" -f 4)" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Var check
        run: echo "SHORT_SHA=${{ steps.short-sha.outputs.SHORT_SHA }}, VERSION=${{ steps.tauri-version.outputs.VERSION }}"
        shell: bash

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
